<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!-- Left Content -->
      <%= render 'home/left_content' %>
    </div>
    <div class="span5">
      <!-- Center Content -->
      <%= render 'home/center_content' %>
    </div>
    <div class="span5">
      <!-- Right Content -->
      <%= render 'home/right_content' %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
